
body {
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

header {
    box-shadow: 0 2px 4px rgb(104, 117, 236);
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f19a9a;
  }
  
  h2 {
    box-shadow: 0 2px 4px rgba(107, 118, 214, 0.1);
    padding: 10px;
    margin-bottom: 20px;
    background-color: #aecaff;
    font-size: 24px;
  }
  
  canvas {
    border: 1px solid #7582f5;
    box-shadow: 0 2px 4px rgba(168, 55, 55, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
